Repository watarui/effect: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, taplo, biome, yamlfmt, markdownlint, shfmt, clippy-fix, cargo-check, clippy-check, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

rustfmt:
  priority: 1
  run: cargo fmt -- {staged_files}

taplo:
  priority: 1
  run: taplo fmt {staged_files}

biome:
  priority: 1
  run: biome format --write {staged_files}

yamlfmt:
  priority: 1
  run: yamlfmt {staged_files}

markdownlint:
  priority: 1
  run: markdownlint-cli2 --fix {staged_files}

shfmt:
  priority: 1
  run: shfmt -w {staged_files}

clippy-fix:
  priority: 2
  run: cargo clippy --fix --allow-dirty --allow-staged

cargo-check:
  priority: 3
  run: cargo check --all

clippy-check:
  priority: 3
  run: cargo clippy --all-targets --all-features -- -D warnings

hadolint:
  priority: 3
  run: hadolint --ignore DL3008 --ignore DL3009 {staged_files}

check-merge-conflict:
  priority: 3
  run: "for file in {staged_files}; do\n  grep -E '^(<<<<<<<|=======|>>>>>>>)' \"$file\" && exit 1 || true\ndone\n"

check-added-large-files:
  priority: 3
  run: "for file in {staged_files}; do\n  size=$(stat -f%z \"$file\" 2>/dev/null || stat -c%s \"$file\")\n  if [ \"$size\" -gt 1024000 ]; then\n    echo \"Error: $file is larger than 1MB\"\n    exit 1\n  fi\ndone\n"

detect-secrets:
  priority: 4
  run: detect-secrets scan {staged_files}

docs: add ai integration context bounded context canvas and redesign for async processing
  docs/ddd/design/bounded-context-canvas/ai-integration-context.md
  docs/ddd/design/design-changes-log.md
  docs/ddd/design/event-storming-design-level/ai-integration-context.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

refactor: redesign ai integration context for async processing
  docs/ddd/design/bounded-context-canvas/learning-context.md
  docs/ddd/design/bounded-context-canvas/vocabulary-context.md
  docs/ddd/design/design-changes-log.md
  docs/ddd/design/repositories/ai-integration-context-repositories.md
  docs/ddd/strategic/context-map.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: add plantuml workflow and reorganize ddd documentation
  .github/workflows/generate-plantuml.yml
  docs/ddd/design/aggregates/svg/.gitkeep
  docs/ddd/design/design-changes-log.md
  docs/ddd/strategic/bounded-contexts.md
  docs/ddd/strategic/context-map.md
  docs/ddd/strategic/context-map.puml
  docs/ddd/strategic/domain-classification.md
  docs/ddd/strategic/domain-types.md
  docs/ddd/strategic/shared-kernel.md
  docs/ddd/strategic/svg/.gitkeep
Due: yamlfmt, markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

fix: improve plantuml workflow svg generation and change detection
  .github/workflows/generate-plantuml.yml
Due: yamlfmt, check-merge-conflict, check-added-large-files, detect-secrets

fix: improve yaml formatting to retain line breaks in plantuml workflow
  .github/workflows/generate-plantuml.yml
  lefthook.yml
Due: yamlfmt, check-merge-conflict, check-added-large-files, detect-secrets

fix: add japanese font support and locale settings to plantuml workflow
  .github/workflows/generate-plantuml.yml
Due: yamlfmt, check-merge-conflict, check-added-large-files, detect-secrets

docs: remove IELTS score estimation from progress context
  docs/ddd/design/design-changes-log.md
  docs/ddd/design/event-storming-design-level/progress-context.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update markdown linting rules and synchronize item selection
  .markdownlint.jsonc
  docs/ddd/design/design-changes-log.md
  docs/ddd/design/event-storming-design-level/learning-algorithm-context.md
  docs/ddd/design/event-storming-design-level/learning-context.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update context relationship between learning and ai integration contexts
  docs/ddd/design/design-changes-log.md
  docs/ddd/strategic/context-map.md
  docs/ddd/strategic/context-map.puml
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update event naming convention and add domain event wrapper
  docs/ddd/design/design-changes-log.md
  docs/ddd/design/event-storming-design-level/progress-context.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update progress status and mark completed design issues
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update completed design issues status
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: mark design issues as completed and add notes
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: complete domain terminology unification and update ubiquitous language
  docs/ddd/design/design-changes-log.md
  docs/ddd/discovery/ubiquitous-language.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update event naming to align with implementation
  docs/ddd/design/design-changes-log.md
  docs/ddd/discovery/ubiquitous-language.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: add AI integration and design decisions to progress summary
  docs/ddd/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: unify learning sessions to problem count-based system
  docs/ddd/design/bounded-context-canvas/learning-context.md
  docs/ddd/design/design-changes-log.md
  docs/ddd/design/event-storming-design-level/learning-context.md
  docs/ddd/discovery/ubiquitous-language.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: mark shared kernel location verification as completed
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: mark integration pattern notation consistency as verified
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: mark CreatedBy type definition investigation as completed
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: unify authentication method notation to "Firebase Auth + Google OAuth"
  docs/ddd/design/aggregates/aggregate-overview.puml
  docs/ddd/design/bounded-context-canvas/user-context.md
  docs/ddd/design/design-changes-log.md
  docs/ddd/discovery/event-storming/big-picture.md
  docs/ddd/strategic/bounded-contexts.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: verify domain event grouping consistency across documentation
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: mark update history documentation approach as verified
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: mark code block language specification check as completed
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: remove completed document update checklist from design changes log
  docs/ddd/design/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update progress summary with recent design decisions
  docs/ddd/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: remove completion plans and update media file decision
  docs/ddd/design/design-changes-log.md
  docs/ddd/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: reorganize progress summary sections and add spacing
  docs/ddd/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: finalize technical stack decisions for implementation phase
  docs/ddd/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: switch event bus implementation from custom to Redis Streams
  docs/ddd/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement microservices infrastructure with docker support
  .dockerignore
  .env.example
  Makefile
  docker-compose.yml
  scripts/init-multiple-databases.sql
  scripts/pgadmin-servers.json
  services/ai-service/.dockerignore
  services/ai-service/Dockerfile
  services/algorithm-service/.dockerignore
  services/algorithm-service/Dockerfile
  services/api-gateway/.dockerignore
  services/api-gateway/Dockerfile
  services/event-processor/.dockerignore
  services/event-processor/Dockerfile
  services/learning-service/.dockerignore
  services/learning-service/Dockerfile
  services/progress-service/.dockerignore
  services/progress-service/Dockerfile
  services/saga-orchestrator/.dockerignore
  services/saga-orchestrator/Dockerfile
  services/user-service/.dockerignore
  services/user-service/Dockerfile
  services/vocabulary-service/.dockerignore
  services/vocabulary-service/Dockerfile
Due: biome, yamlfmt, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

docs: add comprehensive implementation documentation
  docs/README.md
  docs/ddd/README.md
  docs/ddd/implementation/README.md
  docs/ddd/implementation/development-workflow.md
  docs/ddd/implementation/infrastructure.md
  docs/ddd/implementation/service-structure.md
  docs/ddd/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement Google Pub/Sub event bus for cloud-native architecture
  .env.example
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  docs/ddd/design/design-changes-log.md
  docs/ddd/implementation/README.md
  docs/ddd/implementation/infrastructure.md
  docs/ddd/progress-summary.md
  docs/development/pubsub-setup-guide.md
  shared/infrastructure/Cargo.toml
  shared/infrastructure/src/event_bus/mod.rs
  shared/infrastructure/src/event_bus/pubsub.rs
  shared/infrastructure/src/lib.rs
Due: rustfmt, taplo, yamlfmt, markdownlint, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add production environment configuration with Neon database
  docs/ddd/design/design-changes-log.md
  docs/ddd/implementation/infrastructure.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: add development roadmap and implementation steps
  docs/development/next-steps.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: add Pub/Sub to infrastructure startup
  Makefile
  docker-compose.yml
Due: yamlfmt, check-merge-conflict, check-added-large-files, detect-secrets

refactor: encapsulate UUID fields and add FromStr implementations
  shared/common-types/src/ids.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

Path conditions:
  rustfmt: any of: *.rs
  taplo: any of: *.toml
  biome: any of: *.{js,json,jsx,ts,tsx}
  yamlfmt: any of: *.{yml,yaml}
  markdownlint: any of: *.md
  shfmt: any of: *.sh
  clippy-fix: any of: *.rs
  cargo-check: any of: *.rs
  clippy-check: any of: *.rs
  hadolint: any of: *Dockerfile*
  check-merge-conflict: any of: *
  check-added-large-files: any of: *
  detect-secrets: any of: *
