Repository watarui/effect: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, taplo, biome, yamlfmt, markdownlint, shfmt, clippy-fix, cargo-check, clippy-check, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

rustfmt:
  priority: 1
  run: cargo fmt -- {staged_files}

taplo:
  priority: 1
  run: taplo fmt {staged_files}

biome:
  priority: 1
  run: biome format --write {staged_files}

yamlfmt:
  priority: 1
  run: yamlfmt {staged_files}

markdownlint:
  priority: 1
  run: markdownlint-cli2 --fix {staged_files}

shfmt:
  priority: 1
  run: shfmt -w {staged_files}

clippy-fix:
  priority: 2
  run: cargo clippy --fix --allow-dirty --allow-staged

cargo-check:
  priority: 3
  run: cargo check --all

clippy-check:
  priority: 3
  run: cargo clippy --all-targets --all-features -- -D warnings

hadolint:
  priority: 3
  run: hadolint --ignore DL3008 --ignore DL3009 {staged_files}

check-merge-conflict:
  priority: 3
  run: "for file in {staged_files}; do\n  grep -E '^(<<<<<<<|=======|>>>>>>>)' \"$file\" && exit 1 || true\ndone\n"

check-added-large-files:
  priority: 3
  run: "for file in {staged_files}; do\n  size=$(stat -f%z \"$file\" 2>/dev/null || stat -c%s \"$file\")\n  if [ \"$size\" -gt 1024000 ]; then\n    echo \"Error: $file is larger than 1MB\"\n    exit 1\n  fi\ndone\n"

detect-secrets:
  priority: 4
  run: detect-secrets scan {staged_files}

style: allow unwrap in tests for better readability
  .clippy.toml
Due: taplo, check-merge-conflict, check-added-large-files, detect-secrets

feat: enhance domain error handling with specific error types
  shared/common-types/src/error.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add JST timezone support for timestamps
  shared/common-types/src/lib.rs
  shared/common-types/src/timestamp.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

test: add unit tests for domain events
  shared/domain-events/src/events/learning.rs
  shared/domain-events/src/events/mod.rs
  shared/domain-events/src/events/vocabulary.rs
  shared/domain-events/src/metadata.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add infrastructure components for caching and database
  Cargo.lock
  Cargo.toml
  shared/infrastructure/Cargo.toml
  shared/infrastructure/src/cache.rs
  shared/infrastructure/src/config.rs
  shared/infrastructure/src/database.rs
  shared/infrastructure/src/event_store.rs
  shared/infrastructure/src/lib.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add domain layer for user service
  Cargo.lock
  Cargo.toml
  services/user-service/Cargo.toml
  services/user-service/src/domain.rs
  services/user-service/src/domain/aggregates.rs
  services/user-service/src/domain/aggregates/user.rs
  services/user-service/src/domain/commands.rs
  services/user-service/src/domain/commands/user_commands.rs
  services/user-service/src/domain/events.rs
  services/user-service/src/domain/events/user_events.rs
  services/user-service/src/domain/value_objects.rs
  services/user-service/src/domain/value_objects/email.rs
  services/user-service/src/domain/value_objects/user_profile.rs
  services/user-service/src/domain/value_objects/user_role.rs
  services/user-service/src/lib.rs
  services/user-service/src/main.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement ports and adapters architecture for user service
  Cargo.lock
  Cargo.toml
  services/user-service/Cargo.toml
  services/user-service/src/adapters.rs
  services/user-service/src/adapters/outbound.rs
  services/user-service/src/adapters/outbound/auth.rs
  services/user-service/src/adapters/outbound/auth/mock.rs
  services/user-service/src/config.rs
  services/user-service/src/domain/commands/user_commands.rs
  services/user-service/src/domain/events/user_events.rs
  services/user-service/src/lib.rs
  services/user-service/src/ports.rs
  services/user-service/src/ports/inbound.rs
  services/user-service/src/ports/outbound.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add memory adapters for event publishing and user repository
  services/user-service/src/adapters/outbound.rs
  services/user-service/src/adapters/outbound/event.rs
  services/user-service/src/adapters/outbound/event/memory.rs
  services/user-service/src/adapters/outbound/repository.rs
  services/user-service/src/adapters/outbound/repository/memory.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add application layer with use cases
  services/user-service/src/application.rs
  services/user-service/src/application/errors.rs
  services/user-service/src/application/use_cases.rs
  services/user-service/src/application/use_cases/user_use_case.rs
  services/user-service/src/lib.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add grpc service implementation for user service
  Cargo.lock
  Cargo.toml
  lefthook.yml
  services/user-service/Cargo.toml
  services/user-service/build.rs
  services/user-service/proto/user_service.proto
  services/user-service/src/adapters.rs
  services/user-service/src/adapters/inbound.rs
  services/user-service/src/adapters/inbound/grpc.rs
  services/user-service/src/adapters/inbound/grpc/converters.rs
  services/user-service/src/adapters/inbound/grpc/user_service.rs
  services/user-service/src/main.rs
Due: rustfmt, taplo, yamlfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add protobuf definitions for user service and events
  protos/common/events.proto
  protos/common/types.proto
  protos/events/user_events.proto
  protos/services/user_service.proto
Due: check-merge-conflict, check-added-large-files, detect-secrets

fix: handle proto files individually in buf-format pre-commit hook
  lefthook.yml
Due: yamlfmt, check-merge-conflict, check-added-large-files, detect-secrets

refactor: centralize proto definitions and enhance learning goal system
  services/user-service/build.rs
  services/user-service/proto/user_service.proto
  services/user-service/src/adapters/inbound/grpc/converters.rs
  services/user-service/src/adapters/inbound/grpc/user_service.rs
  services/user-service/src/application/use_cases/user_use_case.rs
  services/user-service/src/domain/aggregates/user.rs
  services/user-service/src/domain/commands.rs
  services/user-service/src/domain/value_objects.rs
  services/user-service/src/domain/value_objects/account_status.rs
  services/user-service/src/domain/value_objects/learning_goal.rs
  services/user-service/src/domain/value_objects/user_profile.rs
  services/user-service/src/lib.rs
  services/user-service/src/main.rs
  services/user-service/src/ports/inbound.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add domain service layer and profile update event
  services/user-service/config/user-service.example.yaml
  services/user-service/src/adapters/inbound/grpc/converters.rs
  services/user-service/src/adapters/outbound/event/memory.rs
  services/user-service/src/application/errors.rs
  services/user-service/src/application/use_cases/user_use_case.rs
  services/user-service/src/config.rs
  services/user-service/src/domain.rs
  services/user-service/src/domain/aggregates/user.rs
  services/user-service/src/domain/events.rs
  services/user-service/src/domain/services.rs
  services/user-service/src/domain/services/user_domain_service.rs
  services/user-service/src/main.rs
  shared/domain-events/src/events/mod.rs
  shared/domain-events/src/events/user.rs
  shared/domain-events/src/lib.rs
Due: rustfmt, yamlfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: migrate domain events to protobuf definitions
  Cargo.lock
  Cargo.toml
  protos/common/events.proto
  protos/common/learning_types.proto
  protos/events/ai_events.proto
  protos/events/algorithm_events.proto
  protos/events/learning_events.proto
  protos/events/user_events.proto
  protos/events/vocabulary_events.proto
  services/user-service/src/adapters/outbound/event/memory.rs
  services/user-service/src/application/use_cases/user_use_case.rs
  services/user-service/src/domain/events.rs
  shared/domain-events/Cargo.toml
  shared/domain-events/build.rs
  shared/domain-events/src/events/ai.rs
  shared/domain-events/src/events/algorithm.rs
  shared/domain-events/src/events/learning.rs
  shared/domain-events/src/events/mod.rs
  shared/domain-events/src/events/user.rs
  shared/domain-events/src/events/vocabulary.rs
  shared/domain-events/src/lib.rs
  shared/domain-events/src/metadata.rs
  shared/domain-events/src/serde_helpers.rs
  shared/infrastructure/src/event_bus/pubsub.rs
  shared/infrastructure/src/event_store.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

remove: email update functionality and complex learning goals
  protos/events/user_events.proto
  protos/services/user_service.proto
  services/user-service/src/adapters/inbound/grpc/converters.rs
  services/user-service/src/adapters/inbound/grpc/user_service.rs
  services/user-service/src/adapters/outbound/repository/memory.rs
  services/user-service/src/application/use_cases/user_use_case.rs
  services/user-service/src/domain/aggregates/user.rs
  services/user-service/src/domain/commands.rs
  services/user-service/src/domain/events.rs
  services/user-service/src/domain/value_objects/learning_goal.rs
  services/user-service/src/domain/value_objects/user_profile.rs
  services/user-service/src/lib.rs
  services/user-service/src/ports/inbound.rs
  shared/domain-events/src/lib.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

chore: add .serena/ to gitignore
  .gitignore
Due: check-merge-conflict, check-added-large-files, detect-secrets

feat: add command and messaging infrastructure for distributed system
  protos/common/commands.proto
  protos/common/events.proto
  protos/common/messaging.proto
  protos/events/ai_events.proto
  protos/events/algorithm_events.proto
  protos/events/learning_events.proto
  protos/events/vocabulary_events.proto
Due: check-merge-conflict, check-added-large-files, detect-secrets

feat: add grpc service definitions and distributed system infrastructure
  protos/services/ai_service.proto
  protos/services/algorithm_service.proto
  protos/services/learning_service.proto
  protos/services/progress_service.proto
  protos/services/vocabulary_service.proto
  shared/domain-events/build.rs
  shared/domain-events/src/lib.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add strategy field to learning session created event
  services/user-service/src/adapters/outbound/event/memory.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add repository pattern base implementation
  shared/infrastructure/src/lib.rs
  shared/infrastructure/src/repository/base.rs
  shared/infrastructure/src/repository/entity.rs
  shared/infrastructure/src/repository/error.rs
  shared/infrastructure/src/repository/mod.rs
  shared/infrastructure/src/repository/postgres.rs
  shared/infrastructure/src/repository/transaction.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add database migrations and environment configuration
  Makefile
  migrations/20250802_000001_create_databases.sql
  migrations/20250802_000002_create_event_store.sql
  migrations/20250802_000003_create_saga_tables.sql
  scripts/run-migrations.sh
  services/ai-service/.env.example
  services/ai-service/migrations/20250802_000001_create_ai_tables.sql
  services/ai-service/sqlx-data.json
  services/algorithm-service/.env.example
  services/algorithm-service/migrations/20250802_000001_create_algorithm_tables.sql
  services/algorithm-service/sqlx-data.json
  services/api-gateway/.env.example
  services/learning-service/.env.example
  services/learning-service/migrations/20250802_000001_create_learning_tables.sql
  services/learning-service/sqlx-data.json
  services/progress-service/.env.example
  services/progress-service/migrations/20250802_000001_create_progress_tables.sql
  services/progress-service/sqlx-data.json
  services/user-service/.env.example
  services/user-service/migrations/20250802_000001_create_users_table.sql
  services/user-service/sqlx-data.json
  services/vocabulary-service/.env.example
  services/vocabulary-service/migrations/20250802_000001_create_vocabulary_tables.sql
  services/vocabulary-service/sqlx-data.json
  sqlx-data.json
Due: biome, shfmt, check-merge-conflict, check-added-large-files, detect-secrets

fix: add soft delete support to repository macros
  shared/infrastructure/src/repository/postgres.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement postgres user repository with soft delete
  Cargo.lock
  Cargo.toml
  services/user-service/src/adapters/outbound/repository.rs
  services/user-service/src/adapters/outbound/repository/postgres.rs
  shared/common-types/src/ids.rs
  shared/infrastructure/Cargo.toml
  shared/infrastructure/src/lib.rs
  shared/infrastructure/src/repository/base.rs
  shared/infrastructure/src/repository/id.rs
  shared/infrastructure/src/repository/mod.rs
  shared/infrastructure/src/repository/postgres.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

fix: remove redundant error mapping and add test coverage
  .clippy.toml
  services/user-service/src/adapters/outbound/repository/postgres.rs
  shared/infrastructure/src/repository/postgres.rs
  shared/infrastructure/tests/postgres_repository_test.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

fix: resolve macro-generated code issues for bytea id handling
  shared/infrastructure/src/repository/postgres.rs
  shared/infrastructure/tests/postgres_repository_test.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

refactor: migrate to insert/update macros for repository implementations
  services/user-service/src/adapters/outbound/repository/postgres.rs
  shared/infrastructure/src/repository/entity.rs
  shared/infrastructure/src/repository/postgres.rs
  shared/infrastructure/tests/postgres_repository_test.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

fix: correct type casting for UUID to bytea conversion in find_by_ids
  shared/infrastructure/src/repository/postgres.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement vocabulary service domain layer
  Cargo.lock
  services/vocabulary-service/Cargo.toml
  services/vocabulary-service/migrations/20250802_000001_create_vocabulary_schema.sql
  services/vocabulary-service/migrations/20250802_000001_create_vocabulary_tables.sql
  services/vocabulary-service/src/adapters/outbound/repository/postgres.rs
  services/vocabulary-service/src/domain/entities/vocabulary_entry.rs
  services/vocabulary-service/src/domain/entities/vocabulary_item.rs
  services/vocabulary-service/src/domain/value_objects/cefr_level.rs
  services/vocabulary-service/src/domain/value_objects/definition.rs
  services/vocabulary-service/src/domain/value_objects/domain.rs
  services/vocabulary-service/src/domain/value_objects/part_of_speech.rs
  services/vocabulary-service/src/domain/value_objects/register.rs
  services/vocabulary-service/src/lib.rs
  services/vocabulary-service/src/ports/outbound/repository.rs
  services/vocabulary-service/tests/integration_test.rs
  shared/common-types/src/ids.rs
  shared/common-types/src/lib.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

fix: migrate database schemas from varchar to uuid type
  Cargo.lock
  migrations/20250802_000002_create_event_store.sql
  migrations/20250802_000003_create_saga_tables.sql
  services/ai-service/migrations/20250802_000001_create_ai_tables.sql
  services/algorithm-service/migrations/20250802_000001_create_algorithm_tables.sql
  services/learning-service/migrations/20250802_000001_create_learning_tables.sql
  services/progress-service/migrations/20250802_000001_create_progress_tables.sql
  services/user-service/Cargo.toml
  services/user-service/migrations/20250802_000001_create_users_table.sql
  services/user-service/src/adapters/outbound/repository/postgres.rs
  services/vocabulary-service/src/domain/entities/vocabulary_entry.rs
  services/vocabulary-service/src/domain/entities/vocabulary_item.rs
  shared/common-types/Cargo.toml
  shared/common-types/src/ids.rs
  shared/infrastructure/src/repository/entity.rs
  shared/infrastructure/src/repository/postgres.rs
  shared/infrastructure/tests/postgres_repository_test.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add sqlfluff configuration and integrate into pre-commit hooks
  .sqlfluff
  lefthook.yml
  migrations/20250802_000001_create_databases.sql
  migrations/20250802_000002_create_event_store.sql
  migrations/20250802_000003_create_saga_tables.sql
  services/ai-service/migrations/20250802_000001_create_ai_tables.sql
  services/algorithm-service/migrations/20250802_000001_create_algorithm_tables.sql
  services/learning-service/migrations/20250802_000001_create_learning_tables.sql
  services/progress-service/migrations/20250802_000001_create_progress_tables.sql
  services/user-service/migrations/20250802_000001_create_users_table.sql
  services/vocabulary-service/migrations/20250802_000001_create_vocabulary_schema.sql
Due: yamlfmt, check-merge-conflict, check-added-large-files, detect-secrets

feat: add sqlx offline mode support and implement vocabulary repository
  .env.example
  services/vocabulary-service/.env.example
  services/vocabulary-service/.sqlx/query-121b0f425f3fd501f4240f1376e33bda22624b41e70377b0c7c44f1d0f59eb70.json
  services/vocabulary-service/.sqlx/query-22bbebe73813d76ca327b52266029fddd01783125153bf05bfc4510b13378492.json
  services/vocabulary-service/.sqlx/query-2c911d322e80a364c0a34d40118f931d1cd9d9b00c6c24f48ff672b353227ab9.json
  services/vocabulary-service/.sqlx/query-308b817e3a4e0e5e0c7a4c2520b7fb0e8b9a640bb6b72973f41f14e5dea684b1.json
  services/vocabulary-service/.sqlx/query-47dd3e7e5e8a8db618f66ce39e74ebb2ec98c6c64163ca12d931d1dc234fe441.json
  services/vocabulary-service/.sqlx/query-502db5f583d792e72a264fe21480af3c52546162cb21ed76e040b6b14ceb3fb8.json
  services/vocabulary-service/.sqlx/query-5d65d36e3dc53dc523e97f56b28f4b57102c126135466b1c99db5cd0ac327a9e.json
  services/vocabulary-service/.sqlx/query-7fa8a8651a43cc6bc28f185fa414f07f580c5165be76288053a23b47c52bbfca.json
  services/vocabulary-service/.sqlx/query-87c0b275e6279cdfd5667768f33e25427226d5681c03b173f4ed3a6e86b414d8.json
  services/vocabulary-service/.sqlx/query-a88439ab3e8cb9a2c4dee6f498724c0fe59274bb780457a406360b6f65fde5a7.json
  services/vocabulary-service/.sqlx/query-a919aa8ca83981b62cf2abdf48fdeb06db262da7180ec5568157a1fd1e23328d.json
  services/vocabulary-service/.sqlx/query-aec80218e9a70f2189007267fdb828d14258260403e642ef08a5ce812aeea1fb.json
  services/vocabulary-service/.sqlx/query-be3b688b1fd8f811e78da1e2bb643868c1e5d7070708c340a26c255f4f377e74.json
  services/vocabulary-service/.sqlx/query-c21dd5f18b34ccfa6457fe69a95cbb115454058f5973629b21c1f409f6fd7560.json
  services/vocabulary-service/.sqlx/query-d31d24953942f7270658f650332f8692d863e1d9b9bdda3994eac2e50aba9c6f.json
  services/vocabulary-service/.sqlx/query-f8dac3005288df54c96896888ebcb9fafe5857fca626dfd962827e90aaa51195.json
  services/vocabulary-service/src/adapters/outbound/repository/postgres.rs
  services/vocabulary-service/src/domain/value_objects/domain.rs
  services/vocabulary-service/src/domain/value_objects/part_of_speech.rs
  services/vocabulary-service/src/domain/value_objects/register.rs
Due: rustfmt, biome, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add cached repository adapter for vocabulary service
  services/vocabulary-service/src/adapters.rs
  services/vocabulary-service/src/adapters/outbound.rs
  services/vocabulary-service/src/adapters/outbound/repository.rs
  services/vocabulary-service/src/adapters/outbound/repository/cached.rs
  services/vocabulary-service/src/lib.rs
  services/vocabulary-service/src/server.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement application layer for vocabulary service
  Cargo.lock
  lefthook.yml
  services/vocabulary-service/Cargo.toml
  services/vocabulary-service/build.rs
  services/vocabulary-service/src/adapters.rs
  services/vocabulary-service/src/adapters/inbound/grpc.rs
  services/vocabulary-service/src/adapters/outbound.rs
  services/vocabulary-service/src/adapters/outbound/repository/cached.rs
  services/vocabulary-service/src/adapters/outbound/repository/postgres.rs
  services/vocabulary-service/src/application/command_handlers/create_item.rs
  services/vocabulary-service/src/application/command_handlers/delete_item.rs
  services/vocabulary-service/src/application/command_handlers/update_item.rs
  services/vocabulary-service/src/application/queries.rs
  services/vocabulary-service/src/application/query_handlers/get_item.rs
  services/vocabulary-service/src/application/query_handlers/search_entries.rs
  services/vocabulary-service/src/application/services.rs
  services/vocabulary-service/src/domain/commands.rs
  services/vocabulary-service/src/lib.rs
  services/vocabulary-service/src/ports/outbound/repository.rs
  services/vocabulary-service/src/proto.rs
  services/vocabulary-service/src/server.rs
Due: rustfmt, taplo, yamlfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

docs: add comprehensive cqrs/event sourcing documentation
  docs/adr/001-cqrs-event-sourcing-adoption.md
  docs/adr/002-service-decomposition-strategy.md
  docs/adr/003-event-store-and-event-bus-selection.md
  docs/ddd/design/bounded-context-canvas/progress-context.md
  docs/ddd/design/bounded-context-canvas/vocabulary-context.md
  docs/ddd/design/event-catalog/cross-context-events.md
  docs/ddd/design/event-catalog/progress-events.md
  docs/ddd/design/event-catalog/vocabulary-events.md
  docs/ddd/design/service-decomposition/learning-algorithm-context/learning-algorithm-service.md
  docs/ddd/design/service-decomposition/learning-algorithm-context/overview.md
  docs/ddd/design/service-decomposition/progress-context/overview.md
  docs/ddd/design/service-decomposition/progress-context/progress-command-service.md
  docs/ddd/design/service-decomposition/progress-context/progress-projection-service.md
  docs/ddd/design/service-decomposition/progress-context/progress-query-service.md
  docs/ddd/design/service-decomposition/vocabulary-context/overview.md
  docs/ddd/design/service-decomposition/vocabulary-context/vocabulary-command-service.md
  docs/ddd/design/service-decomposition/vocabulary-context/vocabulary-projection-service.md
  docs/ddd/design/service-decomposition/vocabulary-context/vocabulary-query-service.md
  docs/ddd/design/service-decomposition/vocabulary-context/vocabulary-search-service.md
  docs/ddd/discovery/event-storming/big-picture.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: add shared event store interface for cqrs/event sourcing
  src/shared/event_store.rs
  src/shared/event_store/README.md
  src/shared/event_store/postgres.rs
Due: rustfmt, markdownlint, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

fix: add mock repository clone expectation and ignore redis-dependent tests
  services/vocabulary-service/src/adapters/inbound/grpc.rs
  services/vocabulary-service/src/adapters/outbound/repository/cached.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

refactor: migrate domain events to bounded contexts with proto as single source of truth
  Cargo.lock
  docs/architecture/event-migration-guide.md
  docs/architecture/ideal-ddd-cqrs-es-structure.md
  services/vocabulary_service/Cargo.toml
  shared/contexts/user/Cargo.toml
  shared/contexts/user/build.rs
  shared/contexts/user/src/events.rs
  shared/contexts/user/src/lib.rs
  shared/contexts/vocabulary/Cargo.toml
  shared/contexts/vocabulary/build.rs
  shared/contexts/vocabulary/src/events.rs
  shared/kernel/Cargo.toml
  shared/kernel/build.rs
  shared/kernel/src/events.rs
  shared/kernel/src/lib.rs
  shared/kernel/src/proto.rs
Due: rustfmt, taplo, markdownlint, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

Path conditions:
  rustfmt: any of: *.rs
  taplo: any of: *.toml
  biome: any of: *.{js,json,jsx,ts,tsx}
  yamlfmt: any of: *.{yml,yaml}
  markdownlint: any of: *.md
  shfmt: any of: *.sh
  clippy-fix: any of: *.rs
  cargo-check: any of: *.rs
  clippy-check: any of: *.rs
  hadolint: any of: *Dockerfile*
  check-merge-conflict: any of: *
  check-added-large-files: any of: *
  detect-secrets: any of: *
