Repository watarui/effect: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, taplo, biome, yamlfmt, markdownlint, shfmt, buf-format, clippy-fix, cargo-check, clippy-check, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

lefthook.yml:

# lefthook configuration
# https://github.com/evilmartians/lefthook
assert_lefthook_installed: true
colors: true
no_tty: false
pre-commit:
  parallel: true
  # stage_fixed を並列実行時に安全に処理するため、
  # フォーマッターのグループのみ並列実行を制限
  commands:
    # === グループ1: 言語別フォーマッター（並列実行） ===
    rustfmt:
      priority: 1
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    taplo:
      priority: 1
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true
    biome:
      priority: 1
      glob: "*.{js,json,jsx,ts,tsx}"
      run: biome format --write {staged_files}
      stage_fixed: true
    yamlfmt:
      priority: 1
      glob: "*.{yml,yaml}"
      run: yamlfmt -formatter retain_line_breaks=true {staged_files}
      stage_fixed: true
    markdownlint:
      priority: 1
      glob: "*.md"
      run: markdownlint-cli2 --fix --quiet {staged_files}
      stage_fixed: true
    shfmt:
      priority: 1
      glob: "*.sh"
      run: shfmt -w {staged_files}
      stage_fixed: true
    buf-format:
      priority: 1
      glob: "*.proto"
      run: |
        for file in {staged_files}; do
          buf format -w "$file"
        done
      stage_fixed: true
    # === グループ2: Rust 固有の修正 ===
    clippy-fix:
      priority: 2
      glob: "*.rs"
      run: cargo clippy --fix --allow-dirty --allow-staged
      stage_fixed: true
    # === グループ3: チェックのみ（並列実行） ===
    cargo-check:
      priority: 3
      glob: "*.rs"
      run: cargo check --all
      stage_fixed: false
    clippy-check:
      priority: 3
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
      stage_fixed: false
    hadolint:
      priority: 3
      glob: "*Dockerfile*"
      run: hadolint --ignore DL3008 --ignore DL3009 {staged_files}
      stage_fixed: false
    check-merge-conflict:
      priority: 3
      glob: "*"
      run: |
        for file in {staged_files}; do
          grep -E '^(<<<<<<<|=======|>>>>>>>)' "$file" && exit 1 || true
        done
      stage_fixed: false
    check-added-large-files:
      priority: 3
      glob: "*"
      run: |
        for file in {staged_files}; do
          size=$(stat -f%z "$file" 2>/dev/null || stat -c%s "$file")
          if [ "$size" -gt 1024000 ]; then
            echo "Error: $file is larger than 1MB"
            exit 1
          fi
        done
      stage_fixed: false
    # === グループ4: セキュリティチェック ===
    gitleaks:
      priority: 4
      run: gitleaks detect --source . --no-banner
      stage_fixed: false
    detect-secrets:
      priority: 4
      glob: "*"
      run: detect-secrets scan {staged_files} >/dev/null 2>&1
      stage_fixed: false
pre-push:
  parallel: false
  commands:
    cargo-test:
      run: cargo test --all

feat: implement CQRS/ES architecture for vocabulary command service
  Cargo.lock
  services/vocabulary_command_service/Cargo.toml
  services/vocabulary_command_service/src/application/commands/create_vocabulary_item.rs
  services/vocabulary_command_service/src/application/commands/create_vocabulary_item_test.rs
  services/vocabulary_command_service/src/application/commands/test_helpers.rs
  services/vocabulary_command_service/src/application/commands/update_vocabulary_item.rs
  services/vocabulary_command_service/src/config.rs
  services/vocabulary_command_service/src/domain/aggregates.rs
  services/vocabulary_command_service/src/domain/commands.rs
  services/vocabulary_command_service/src/domain/events.rs
  services/vocabulary_command_service/src/domain/value_objects.rs
  services/vocabulary_command_service/src/error.rs
  services/vocabulary_command_service/src/handlers.rs
  services/vocabulary_command_service/src/lib.rs
  services/vocabulary_command_service/src/main.rs
  services/vocabulary_command_service/src/ports/event_store.rs
  services/vocabulary_command_service/src/ports/repositories.rs
  services/vocabulary_command_service/src/server.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement postgres repositories and event store for vocabulary command service
  services/vocabulary_command_service/src/domain/value_objects.rs
  services/vocabulary_command_service/src/error.rs
  services/vocabulary_command_service/src/infrastructure/event_store/postgres_event_store.rs
  services/vocabulary_command_service/src/infrastructure/repositories/postgres_entry_repository.rs
  services/vocabulary_command_service/src/infrastructure/repositories/postgres_item_repository.rs
  services/vocabulary_command_service/src/lib.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add grpc server implementation for vocabulary command service
  Cargo.lock
  services/vocabulary_command_service/Cargo.toml
  services/vocabulary_command_service/build.rs
  services/vocabulary_command_service/src/infrastructure/event_store/postgres_event_store.rs
  services/vocabulary_command_service/src/infrastructure/grpc/server.rs
  services/vocabulary_command_service/src/infrastructure/grpc/service.rs
  services/vocabulary_command_service/src/infrastructure/repositories/postgres_entry_repository.rs
  services/vocabulary_command_service/src/infrastructure/repositories/postgres_item_repository.rs
  services/vocabulary_command_service/src/lib.rs
  services/vocabulary_command_service/src/main.rs
  services/vocabulary_command_service/src/server.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: move approx to workspace dependencies
  Cargo.toml
  services/algorithm_service/Cargo.toml
Due: taplo, check-merge-conflict, check-added-large-files, detect-secrets

feat: integrate event store client and database repositories
  services/algorithm_service/.sqlx/query-1a27b31a3737188b566aad23f1caf4d6fe9b7c0a2f1fc227061797a7cb6bd4b0.json
  services/algorithm_service/.sqlx/query-46f416a8bd4be3b1ecf905fb10305b47f6de49d3b64faec7d944109b6189ff42.json
  services/algorithm_service/.sqlx/query-63b3b7b038a005daa637f77c5783931de6a33bc9196b42eabac69d09b66c687b.json
  services/algorithm_service/.sqlx/query-8a275ab95f7060ffc75a76cef498c13a5560f3a09acecc183d8071e556abf498.json
  services/algorithm_service/.sqlx/query-ab2d00f985b7a8c4e6f171344ceb1e6d3ac9a8db37665c46d0f397aa91c20943.json
  services/algorithm_service/.sqlx/query-c613c99a98972bcb527e9955b09d2df8e339b90edb201d76ab678527af54aaf3.json
  services/algorithm_service/.sqlx/query-e5fb6a7d4d82c39002b49c59862bd1a5ed9a33748659b1f903bc602570917746.json
  services/algorithm_service/.sqlx/query-e66bf1999fe47457bd754d18f08ff8147e63ae408b955c0dcb07116b1e8b691b.json
  services/algorithm_service/.sqlx/query-f94700047f839004c50d241e7f53b7eeae40885a4666894cfbe6e435d6d74f87.json
  services/algorithm_service/build.rs
  services/algorithm_service/src/infrastructure/event_publisher.rs
  services/algorithm_service/src/infrastructure/grpc.rs
  services/algorithm_service/src/infrastructure/grpc/conversion.rs
  services/algorithm_service/src/infrastructure/grpc/server.rs
  services/algorithm_service/src/infrastructure/grpc/service.rs
  services/algorithm_service/src/infrastructure/repository/learning_item.rs
  services/algorithm_service/src/infrastructure/repository/mock.rs
  services/algorithm_service/src/infrastructure/repository/review_history.rs
  services/algorithm_service/src/infrastructure/repository/statistics.rs
  services/algorithm_service/src/infrastructure/repository/strategy.rs
  services/algorithm_service/src/proto.rs
  services/algorithm_service/src/server.rs
Due: rustfmt, biome, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

chore: add .kiro/ to gitignore
  .gitignore
Due: check-merge-conflict, check-added-large-files, detect-secrets

fix: add SQLX_OFFLINE flag to pre-push tests
  lefthook.yml
Due: yamlfmt, check-merge-conflict, check-added-large-files, detect-secrets

feat: add soft delete functionality for vocabulary items
  lefthook.yml
  services/vocabulary_command_service/src/application/commands/create_vocabulary_item.rs
  services/vocabulary_command_service/src/application/commands/create_vocabulary_item_test.rs
  services/vocabulary_command_service/src/application/commands/delete_vocabulary_item.rs
  services/vocabulary_command_service/src/domain/aggregates.rs
  services/vocabulary_command_service/src/domain/commands.rs
  services/vocabulary_command_service/src/domain/events.rs
  services/vocabulary_command_service/src/infrastructure/grpc/server.rs
  services/vocabulary_command_service/src/infrastructure/grpc/service.rs
  services/vocabulary_command_service/src/infrastructure/repositories/postgres_item_repository.rs
  services/vocabulary_command_service/src/lib.rs
Due: rustfmt, yamlfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

build: switch to vendored protobuf compiler
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  services/ai_service/Dockerfile
  services/algorithm_service/Cargo.toml
  services/algorithm_service/Dockerfile
  services/algorithm_service/build.rs
  services/api_gateway/Dockerfile
  services/domain_events_service/Cargo.toml
  services/domain_events_service/Dockerfile
  services/domain_events_service/build.rs
  services/event_processor/Dockerfile
  services/event_store_service/Cargo.toml
  services/event_store_service/Dockerfile
  services/event_store_service/build.rs
  services/learning_service/Dockerfile
  services/progress_command_service/Dockerfile
  services/progress_projection_service/Dockerfile
  services/progress_query_service/Dockerfile
  services/saga_orchestrator/Dockerfile
  services/user_service/Dockerfile
  services/vocabulary_command_service/Cargo.toml
  services/vocabulary_command_service/Dockerfile
  services/vocabulary_command_service/build.rs
  services/vocabulary_projection_service/Dockerfile
  services/vocabulary_query_service/Dockerfile
  services/vocabulary_search_service/Dockerfile
  shared/contexts/user/Cargo.toml
  shared/contexts/user/build.rs
  shared/contexts/vocabulary/Cargo.toml
  shared/contexts/vocabulary/build.rs
  shared/kernel/Cargo.toml
  shared/kernel/build.rs
Due: rustfmt, taplo, yamlfmt, clippy-fix, cargo-check, clippy-check, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

feat: add vocabulary command service binary and soft delete support
  services/vocabulary_command_service/Cargo.toml
  services/vocabulary_command_service/migrations/20250810_000001_create_command_schema.sql
  services/vocabulary_command_service/src/application/commands/create_vocabulary_item.rs
  services/vocabulary_command_service/src/application/commands/test_helpers.rs
  services/vocabulary_command_service/src/infrastructure/grpc/service.rs
  services/vocabulary_command_service/src/infrastructure/repositories/postgres_entry_repository.rs
  services/vocabulary_command_service/src/ports/repositories.rs
  services/vocabulary_command_service/tests/grpc_integration_test.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

docs: add implementation status and api gateway documentation
  docs/tactical/implementation-status.md
  docs/tactical/services/api-gateway.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement vocabulary projection service with event processing
  Cargo.lock
  services/vocabulary_projection_service/.sqlx/query-482670e21c8dbf21789496881428dcf4d3adf7e4ab844b740d3383a6c7878cb6.json
  services/vocabulary_projection_service/.sqlx/query-4cd71461f46fab9f2dc9cddf907acde8d59999f762f6ff55979033898035e919.json
  services/vocabulary_projection_service/.sqlx/query-5805f42c4347e83331b9461a72e8e36ef705de03ea20be44935ff31cbb002878.json
  services/vocabulary_projection_service/.sqlx/query-58a46c404e54789db35be181bdc44f305a15da48f4dce02a0fe09eca1a80bdf6.json
  services/vocabulary_projection_service/.sqlx/query-667d23aa7c2a559b2be937f834d4725af65d66d985cebf4fa4f54a57cf1b56ae.json
  services/vocabulary_projection_service/.sqlx/query-716e6a7112ad37f042662e9e808bbded97632a4854a4c43fa4a41c755c80ff27.json
  services/vocabulary_projection_service/.sqlx/query-7cb07cb7b17f4b922b46fa7355b459df9ee28dd4cbdc97c12acd3bd52f89dfa0.json
  services/vocabulary_projection_service/.sqlx/query-7e7ff721a5eeaae77addf89a27aff4af5e1b150b8f955ef3c804b3a60d8fd9a3.json
  services/vocabulary_projection_service/.sqlx/query-cbbb55271c2aa21b2c4ebc41223a6d9af10f116c158a947486046518492979fc.json
  services/vocabulary_projection_service/.sqlx/query-d12119ec82bfae3097d08fee19b3d56bdde5fcbaa150f9af021ac9ba780c7c4b.json
  services/vocabulary_projection_service/.sqlx/query-d3c57c68af163383ae8d94742a324a6428f2c5beae6d48605fbe6b4e3494aadb.json
  services/vocabulary_projection_service/.sqlx/query-dc60bcaf878d4d9221f0b8fd3265e9032efa41f686d6418ca4c3d5950c945c43.json
  services/vocabulary_projection_service/.sqlx/query-dfdd7e0ab00897493f540e056e10c4e2408d931cc69d8b3aa372e957fe34ef34.json
  services/vocabulary_projection_service/Cargo.toml
  services/vocabulary_projection_service/migrations/20250810_000002_create_read_models.sql
  services/vocabulary_projection_service/sqlx-data.json
  services/vocabulary_projection_service/src/application/event_handlers.rs
  services/vocabulary_projection_service/src/application/processor.rs
  services/vocabulary_projection_service/src/config.rs
  services/vocabulary_projection_service/src/domain/events.rs
  services/vocabulary_projection_service/src/domain/projections.rs
  services/vocabulary_projection_service/src/error.rs
  services/vocabulary_projection_service/src/infrastructure/adapters/event_store_subscriber.rs
  services/vocabulary_projection_service/src/infrastructure/repositories/postgres_projection_state.rs
  services/vocabulary_projection_service/src/infrastructure/repositories/postgres_read_model.rs
  services/vocabulary_projection_service/src/lib.rs
  services/vocabulary_projection_service/src/main.rs
  services/vocabulary_projection_service/src/ports/inbound.rs
  services/vocabulary_projection_service/src/ports/outbound.rs
Due: rustfmt, taplo, biome, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement vocabulary query service with read models
  .gitignore
  Cargo.lock
  services/vocabulary_query_service/.sqlx/query-1628229292b592aaac566a42d0d8144462b01d63109595a3bfefc5f9fbd617f8.json
  services/vocabulary_query_service/.sqlx/query-212e8a8086306d8ca111507810c54880c57d2e3ccd8336447a3b97a7a0dfe924.json
  services/vocabulary_query_service/.sqlx/query-26fe7a4b0903b2e1069fc4c2e511b7274d631c813a4885ca0527d6ad69e47091.json
  services/vocabulary_query_service/.sqlx/query-2a9cb26ffc0de602f848984bdeedebcf705cafa94af04be170e2a2df1f183202.json
  services/vocabulary_query_service/.sqlx/query-5328d0642970d11da7c83954ad02401f62b217afde92ed9f01d98184f3acc6c9.json
  services/vocabulary_query_service/.sqlx/query-813358cb4b4e8a161505065c4e2d6cf649f9ef15ecafb09994eda2eb894198ec.json
  services/vocabulary_query_service/.sqlx/query-be7ff3747ec7a1b7e86941bd522569987808576f57636422698efcd3b673fc91.json
  services/vocabulary_query_service/.sqlx/query-c01c78eb252da087838689b9781a7a6d42d4bb56f728d7c7c4656d43b372f633.json
  services/vocabulary_query_service/.sqlx/query-ee1022e723511724457549f0d0d95a5acc10c64ebe2718908aebdc61007d82f2.json
  services/vocabulary_query_service/.sqlx/query-f8ef225f000f30cdb6d689a36c0e276d2be1663895504e25651b77bc488da37b.json
  services/vocabulary_query_service/Cargo.toml
  services/vocabulary_query_service/migrations/20250810_000001_create_query_models.sql
  services/vocabulary_query_service/src/application/health_check_service.rs
  services/vocabulary_query_service/src/application/mod.rs
  services/vocabulary_query_service/src/application/vocabulary_query_service.rs
  services/vocabulary_query_service/src/domain/mod.rs
  services/vocabulary_query_service/src/domain/models.rs
  services/vocabulary_query_service/src/domain/value_objects.rs
  services/vocabulary_query_service/src/error.rs
  services/vocabulary_query_service/src/infrastructure/mod.rs
  services/vocabulary_query_service/src/infrastructure/repositories/mod.rs
  services/vocabulary_query_service/src/infrastructure/repositories/postgres_read_model.rs
  services/vocabulary_query_service/src/lib.rs
  services/vocabulary_query_service/src/ports/inbound.rs
  services/vocabulary_query_service/src/ports/mod.rs
  services/vocabulary_query_service/src/ports/outbound.rs
Due: rustfmt, taplo, biome, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement vocabulary search service with meilisearch integration
  Cargo.lock
  services/vocabulary_search_service/.sqlx/query-5c82d97cb2c0c783fa630be21962ceb827a852dea2b7da7ebb516b9bcbfad8f3.json
  services/vocabulary_search_service/.sqlx/query-9f504b7e75fcf1833d57e36344b96325f9dec8e7ee352197635232e90deeae6c.json
  services/vocabulary_search_service/.sqlx/query-c1b382dd7af566f20c4c7b3a8eeaaaa1d08462515718242c99cef5888abf3f82.json
  services/vocabulary_search_service/Cargo.toml
  services/vocabulary_search_service/src/application.rs
  services/vocabulary_search_service/src/application/health_check_service.rs
  services/vocabulary_search_service/src/application/index_management_service.rs
  services/vocabulary_search_service/src/application/search_service.rs
  services/vocabulary_search_service/src/domain.rs
  services/vocabulary_search_service/src/domain/models.rs
  services/vocabulary_search_service/src/error.rs
  services/vocabulary_search_service/src/infrastructure.rs
  services/vocabulary_search_service/src/infrastructure/repositories.rs
  services/vocabulary_search_service/src/infrastructure/repositories/meilisearch.rs
  services/vocabulary_search_service/src/infrastructure/repositories/postgres_data_source.rs
  services/vocabulary_search_service/src/infrastructure/repositories/redis_search_log.rs
  services/vocabulary_search_service/src/lib.rs
  services/vocabulary_search_service/src/ports.rs
  services/vocabulary_search_service/src/ports/inbound.rs
  services/vocabulary_search_service/src/ports/outbound.rs
Due: rustfmt, taplo, biome, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement progress command service with event sourcing
  Cargo.lock
  services/progress_command_service/.sqlx/query-5d97ededbf6687098568d6531c0529abd38b34878524aae0270cd65371a359c1.json
  services/progress_command_service/.sqlx/query-60a32f2cb31e30712ccd9110369d7da60bb0359f49576ed121caf58b0e95a708.json
  services/progress_command_service/.sqlx/query-7d81866a5560d91df34a14ab414e3c213b03a70d29b9151dcb33b029a077a7fa.json
  services/progress_command_service/.sqlx/query-b02441e693b9c11cc3168268f32f0d2fd836d14a39cc520f39f11773e43b1078.json
  services/progress_command_service/.sqlx/query-bb0757632c776f8e3b4be8f09bbf26b84ff55c3bffc33823f826940dbfaf4cf4.json
  services/progress_command_service/Cargo.toml
  services/progress_command_service/migrations/001_create_progress_tables.sql
  services/progress_command_service/src/application.rs
  services/progress_command_service/src/application/command_handler.rs
  services/progress_command_service/src/application/event_handler.rs
  services/progress_command_service/src/application/progress_service.rs
  services/progress_command_service/src/application/services.rs
  services/progress_command_service/src/config.rs
  services/progress_command_service/src/domain.rs
  services/progress_command_service/src/domain/aggregates.rs
  services/progress_command_service/src/domain/commands.rs
  services/progress_command_service/src/domain/events.rs
  services/progress_command_service/src/domain/value_objects.rs
  services/progress_command_service/src/error.rs
  services/progress_command_service/src/infrastructure.rs
  services/progress_command_service/src/infrastructure/repositories.rs
  services/progress_command_service/src/infrastructure/repositories/event_publisher.rs
  services/progress_command_service/src/infrastructure/repositories/event_store.rs
  services/progress_command_service/src/infrastructure/repositories/snapshot.rs
  services/progress_command_service/src/lib.rs
  services/progress_command_service/src/ports.rs
  services/progress_command_service/src/ports/inbound.rs
  services/progress_command_service/src/ports/outbound.rs
Due: rustfmt, taplo, biome, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement progress projection service core functionality
  Cargo.lock
  services/progress_projection_service/.sqlx/query-4cf1590c7fcea5dd7e239e87cfce633c858edaec734a72fe0a39bfb573715ac4.json
  services/progress_projection_service/.sqlx/query-5fb3f984b80ddc9ee1a6ebefdf9f092af2f1bcba90953eaab90b28026cdc70cd.json
  services/progress_projection_service/.sqlx/query-6c37933c7590b0e5cbaab8a38b6220527c79b811ea30b01894a2b01b9e9faeca.json
  services/progress_projection_service/.sqlx/query-71e21f6cc99f3431dae9c9eeb430fbafb71ae27c3e02b0f7f103249862036c14.json
  services/progress_projection_service/.sqlx/query-8f22de782200f6a6a2caa784d975bacec1e602b038dd7c5c6cabd863e686644a.json
  services/progress_projection_service/.sqlx/query-97822f40aa6b443f56f78cbbc53f193241fc5890b81a1feb9dae1ba925babec0.json
  services/progress_projection_service/.sqlx/query-a4801fe94a3dd1fbfaefd52346fe6d2821428f8b2105034b54b3372f447e95eb.json
  services/progress_projection_service/.sqlx/query-b0a0ff8c43c17968e433ee9f6ed3537c16e1bdad2161cc3370bdf4a633d7a471.json
  services/progress_projection_service/.sqlx/query-b854b302a491f0eed27ebb4bd823e00c25575487dd11fb44f740b72732f7fdfa.json
  services/progress_projection_service/.sqlx/query-c3d415e743f553dd03b51561f5d560c55a90455a466fe9681451474ad9a44957.json
  services/progress_projection_service/.sqlx/query-d8aa1a019ddccd3aa0cd299d4fbd43ac6571163914dc13031a0f392017a82963.json
  services/progress_projection_service/.sqlx/query-d9a1d8f5492ccd0551626e7a09d84b1a809334804478acd6d1c749e4ce74c38b.json
  services/progress_projection_service/.sqlx/query-e6edce65c622a2777e8df6eb6007ce63ab86d35694f8034685c96bd963eea821.json
  services/progress_projection_service/.sqlx/query-e87e5ce4ea8f2d192e7631d04f062cf7e6a36ec40bd41d9f340071ad363e7715.json
  services/progress_projection_service/.sqlx/query-eba9b0da3540a0850a472c5162253f1e7261f2818745ac544d1baf5e6cfd08ed.json
  services/progress_projection_service/Cargo.toml
  services/progress_projection_service/migrations/002_create_read_models.sql
  services/progress_projection_service/src/application.rs
  services/progress_projection_service/src/application/event_handlers.rs
  services/progress_projection_service/src/application/projection_manager.rs
  services/progress_projection_service/src/application/services.rs
  services/progress_projection_service/src/config.rs
  services/progress_projection_service/src/domain.rs
  services/progress_projection_service/src/domain/models.rs
  services/progress_projection_service/src/domain/value_objects.rs
  services/progress_projection_service/src/error.rs
  services/progress_projection_service/src/infrastructure.rs
  services/progress_projection_service/src/infrastructure/repositories.rs
  services/progress_projection_service/src/infrastructure/repositories/event_store_reader.rs
  services/progress_projection_service/src/infrastructure/repositories/projection_state_store.rs
  services/progress_projection_service/src/infrastructure/repositories/read_model_repository.rs
  services/progress_projection_service/src/lib.rs
  services/progress_projection_service/src/main.rs
  services/progress_projection_service/src/ports.rs
  services/progress_projection_service/src/ports/inbound.rs
  services/progress_projection_service/src/ports/outbound.rs
  services/progress_projection_service/src/processor.rs
Due: rustfmt, taplo, biome, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

docs: update implementation status with completed hexagonal architecture services
  docs/tactical/implementation-status.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

test: add ignore attribute to integration tests requiring server
  services/vocabulary_command_service/tests/grpc_integration_test.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets
