Repository watarui/effect: changes, and which lefthook commands are due for each by the changed paths.
All: rustfmt, taplo, biome, yamlfmt, markdownlint, shfmt, buf-format, clippy-fix, cargo-check, clippy-check, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

lefthook.yml:

# lefthook configuration
# https://github.com/evilmartians/lefthook
assert_lefthook_installed: true
colors: true
no_tty: false
pre-commit:
  parallel: true
  # stage_fixed を並列実行時に安全に処理するため、
  # フォーマッターのグループのみ並列実行を制限
  commands:
    # === グループ1: 言語別フォーマッター（並列実行） ===
    rustfmt:
      priority: 1
      glob: "*.rs"
      run: cargo fmt -- {staged_files}
      stage_fixed: true
    taplo:
      priority: 1
      glob: "*.toml"
      run: taplo fmt {staged_files}
      stage_fixed: true
    biome:
      priority: 1
      glob: "*.{js,json,jsx,ts,tsx}"
      run: biome format --write {staged_files}
      stage_fixed: true
    yamlfmt:
      priority: 1
      glob: "*.{yml,yaml}"
      run: yamlfmt -formatter retain_line_breaks=true {staged_files}
      stage_fixed: true
    markdownlint:
      priority: 1
      glob: "*.md"
      run: markdownlint-cli2 --fix --quiet {staged_files}
      stage_fixed: true
    shfmt:
      priority: 1
      glob: "*.sh"
      run: shfmt -w {staged_files}
      stage_fixed: true
    buf-format:
      priority: 1
      glob: "*.proto"
      run: |
        for file in {staged_files}; do
          buf format -w "$file"
        done
      stage_fixed: true
    # === グループ2: Rust 固有の修正 ===
    clippy-fix:
      priority: 2
      glob: "*.rs"
      run: cargo clippy --fix --allow-dirty --allow-staged
      stage_fixed: true
    # === グループ3: チェックのみ（並列実行） ===
    cargo-check:
      priority: 3
      glob: "*.rs"
      run: cargo check --all
      stage_fixed: false
    clippy-check:
      priority: 3
      glob: "*.rs"
      run: cargo clippy --all-targets --all-features -- -D warnings
      stage_fixed: false
    hadolint:
      priority: 3
      glob: "*Dockerfile*"
      run: hadolint --ignore DL3008 --ignore DL3009 {staged_files}
      stage_fixed: false
    check-merge-conflict:
      priority: 3
      glob: "*"
      run: |
        for file in {staged_files}; do
          grep -E '^(<<<<<<<|=======|>>>>>>>)' "$file" && exit 1 || true
        done
      stage_fixed: false
    check-added-large-files:
      priority: 3
      glob: "*"
      run: |
        for file in {staged_files}; do
          size=$(stat -f%z "$file" 2>/dev/null || stat -c%s "$file")
          if [ "$size" -gt 1024000 ]; then
            echo "Error: $file is larger than 1MB"
            exit 1
          fi
        done
      stage_fixed: false
    # === グループ4: セキュリティチェック ===
    gitleaks:
      priority: 4
      run: gitleaks detect --source . --no-banner
      stage_fixed: false
    detect-secrets:
      priority: 4
      glob: "*"
      run: detect-secrets scan {staged_files} >/dev/null 2>&1
      stage_fixed: false
pre-push:
  parallel: false
  commands:
    cargo-test:
      run: cargo test --all

refactor: flatten vocabulary domain module structure
  shared/contexts/vocabulary/src/domain.rs
Due: rustfmt, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add vocabulary command service skeleton for CQRS write model
  Cargo.lock
  Cargo.toml
  services/vocabulary_command_service/Cargo.toml
  services/vocabulary_command_service/src/application.rs
  services/vocabulary_command_service/src/infrastructure.rs
  services/vocabulary_command_service/src/lib.rs
  services/vocabulary_command_service/src/main.rs
  services/vocabulary_command_service/src/ports.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement command handler for vocabulary command service
  Cargo.lock
  services/vocabulary_command_service/Cargo.toml
  services/vocabulary_command_service/src/application.rs
  services/vocabulary_command_service/src/infrastructure.rs
  services/vocabulary_command_service/src/infrastructure/grpc.rs
  services/vocabulary_command_service/src/main.rs
  services/vocabulary_command_service/src/ports.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: add vocabulary projection service for CQRS read model
  Cargo.lock
  Cargo.toml
  services/vocabulary_projection_service/Cargo.toml
  services/vocabulary_projection_service/src/application.rs
  services/vocabulary_projection_service/src/application/event_handlers.rs
  services/vocabulary_projection_service/src/infrastructure.rs
  services/vocabulary_projection_service/src/infrastructure/pubsub.rs
  services/vocabulary_projection_service/src/lib.rs
  services/vocabulary_projection_service/src/main.rs
  services/vocabulary_projection_service/src/projections.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

docs: replace kafka with pub/sub and elasticsearch with meilisearch
  docs/ddd/design/service-decomposition/vocabulary-context/overview.md
  docs/ddd/design/service-decomposition/vocabulary-context/vocabulary-command-service.md
  docs/ddd/design/service-decomposition/vocabulary-context/vocabulary-search-service.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: add vocabulary query service for cqrs read model
  Cargo.lock
  Cargo.toml
  protos/services/vocabulary_query_service.proto
  services/vocabulary_query_service/Cargo.toml
  services/vocabulary_query_service/build.rs
  services/vocabulary_query_service/src/application.rs
  services/vocabulary_query_service/src/application/query_handlers.rs
  services/vocabulary_query_service/src/domain.rs
  services/vocabulary_query_service/src/domain/read_models.rs
  services/vocabulary_query_service/src/infrastructure.rs
  services/vocabulary_query_service/src/infrastructure/inbound.rs
  services/vocabulary_query_service/src/infrastructure/outbound.rs
  services/vocabulary_query_service/src/infrastructure/outbound/postgres.rs
  services/vocabulary_query_service/src/infrastructure/outbound/redis.rs
  services/vocabulary_query_service/src/lib.rs
  services/vocabulary_query_service/src/main.rs
  services/vocabulary_query_service/src/ports.rs
  services/vocabulary_query_service/src/ports/inbound.rs
  services/vocabulary_query_service/src/ports/outbound.rs
Due: rustfmt, taplo, buf-format, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement vocabulary query service handlers and infrastructure
  Cargo.lock
  services/vocabulary_query_service/Cargo.toml
  services/vocabulary_query_service/build.rs
  services/vocabulary_query_service/src/application/query_handlers.rs
  services/vocabulary_query_service/src/infrastructure/inbound.rs
  services/vocabulary_query_service/src/infrastructure/inbound/grpc.rs
  services/vocabulary_query_service/src/infrastructure/outbound/postgres.rs
  services/vocabulary_query_service/src/main.rs
  services/vocabulary_query_service/tests/integration_test.rs
Due: rustfmt, taplo, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

feat: implement event sourcing infrastructure and vocabulary command service
  Cargo.lock
  Cargo.toml
  migrations/20250802_000001_create_event_store.sql
  protos/services/vocabulary_command_service.proto
  services/vocabulary_command_service/Cargo.toml
  services/vocabulary_command_service/build.rs
  services/vocabulary_command_service/migrations/20250802_000001_create_vocabulary_lookup.sql
  services/vocabulary_command_service/src/application.rs
  services/vocabulary_command_service/src/domain/aggregates.rs
  services/vocabulary_command_service/src/domain/entities.rs
  services/vocabulary_command_service/src/domain/events.rs
  services/vocabulary_command_service/src/domain/value_objects.rs
  services/vocabulary_command_service/src/infrastructure/outbound/event_store.rs
  services/vocabulary_command_service/src/infrastructure/outbound/pubsub.rs
  services/vocabulary_command_service/src/infrastructure/outbound/repository.rs
  services/vocabulary_command_service/src/main.rs
  services/vocabulary_command_service/src/ports/outbound.rs
  shared/contexts/vocabulary/src/lib.rs
  shared/infrastructure/event_store/Cargo.toml
  shared/infrastructure/event_store/src/lib.rs
  shared/infrastructure/event_store/src/postgres.rs
Due: rustfmt, taplo, buf-format, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

refactor: move event store migration to shared infrastructure
  shared/infrastructure/event_store/migrations/20250802_000001_create_event_store.sql
Due: check-merge-conflict, check-added-large-files, detect-secrets

feat: add vocabulary search service with Meilisearch integration
  .env.example
  .gitignore
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  services/vocabulary_search_service/Cargo.toml
  services/vocabulary_search_service/Dockerfile
  services/vocabulary_search_service/build.rs
  services/vocabulary_search_service/proto/vocabulary_search.proto
  services/vocabulary_search_service/src/application.rs
  services/vocabulary_search_service/src/application/query_analyzers.rs
  services/vocabulary_search_service/src/application/search_handlers.rs
  services/vocabulary_search_service/src/application/search_handlers/facet_search_handler.rs
  services/vocabulary_search_service/src/application/search_handlers/related_items_handler.rs
  services/vocabulary_search_service/src/application/search_handlers/search_items_handler.rs
  services/vocabulary_search_service/src/application/search_handlers/suggestions_handler.rs
  services/vocabulary_search_service/src/domain.rs
  services/vocabulary_search_service/src/domain/error.rs
  services/vocabulary_search_service/src/domain/search_models.rs
  services/vocabulary_search_service/src/domain/value_objects.rs
  services/vocabulary_search_service/src/infrastructure.rs
  services/vocabulary_search_service/src/infrastructure/cache.rs
  services/vocabulary_search_service/src/infrastructure/search.rs
  services/vocabulary_search_service/src/infrastructure/search/error_ext.rs
  services/vocabulary_search_service/src/infrastructure/search/index_config.rs
  services/vocabulary_search_service/src/infrastructure/search/meilisearch_engine.rs
  services/vocabulary_search_service/src/infrastructure/search/query_analyzer.rs
  services/vocabulary_search_service/src/lib.rs
  services/vocabulary_search_service/src/main.rs
  services/vocabulary_search_service/src/ports.rs
  services/vocabulary_search_service/src/ports/inbound.rs
  services/vocabulary_search_service/src/ports/outbound.rs
  services/vocabulary_search_service/src/proto.rs
Due: rustfmt, taplo, yamlfmt, buf-format, clippy-fix, cargo-check, clippy-check, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

docs: reorganize documentation structure and add vocabulary context details
  .gitignore
  docs/architecture/event-migration-guide.md
  docs/architecture/ideal-ddd-cqrs-es-structure.md
  docs/tactical/contexts/vocabulary/aggregates.md
  docs/tactical/contexts/vocabulary/api-schema.md
  docs/tactical/contexts/vocabulary/architecture.md
  docs/tactical/contexts/vocabulary/commands.md
  docs/tactical/contexts/vocabulary/events.md
  docs/tactical/contexts/vocabulary/infrastructure.md
  docs/tactical/contexts/vocabulary/queries.md
  docs/tactical/contexts/vocabulary/repositories.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update vocabulary context with infrastructure decisions
  docs/tactical/contexts/vocabulary/canvas.md
  docs/tactical/contexts/vocabulary/infrastructure.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

以下のコミットメッセージを生成します：
  docs/tactical/contexts/learning/aggregates.md
  docs/tactical/contexts/learning/api-schema.md
  docs/tactical/contexts/learning/architecture.md
  docs/tactical/contexts/learning/canvas.md
  docs/tactical/contexts/learning/commands.md
  docs/tactical/contexts/learning/events.md
  docs/tactical/contexts/learning/infrastructure.md
  docs/tactical/contexts/learning/queries.md
  docs/tactical/contexts/learning/repositories.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: add comprehensive documentation for shared infrastructure
  docs/tactical/contexts/vocabulary/architecture.md
  docs/tactical/cross-cutting-concerns.md
  docs/tactical/event-sourcing-guidelines.md
  docs/tactical/integration/patterns.md
  docs/tactical/shared-infrastructure.md
  docs/tactical/shared-kernel.md
  shared/domain_events/src/lib.rs
  shared/domain_events/src/traits.rs
Due: rustfmt, markdownlint, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

docs: transition vocabulary context to true CQRS+ES microservices
  docs/tactical/design-changes-log.md
  docs/tactical/progress-summary.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: reorganize shared components documentation structure
  docs/README.md
  docs/strategic/context-map.md
  docs/tactical/design-changes-log.md
  docs/tactical/event-sourcing-guidelines.md
  docs/tactical/shared/cross-cutting-concerns.md
  docs/tactical/shared/infrastructure.md
  docs/tactical/shared/kernel.md
  docs/tactical/shared/overview.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: simplify learning context to single service architecture
  docs/tactical/contexts/learning/architecture.md
  docs/tactical/contexts/learning/canvas.md
  docs/tactical/design-changes-log.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: add event store service as centralized microservice
  Cargo.lock
  Cargo.toml
  docs/decisions/003-event-store-and-event-bus-selection.md
  docs/tactical/services/event-store-service.md
  docs/tactical/shared/infrastructure.md
  services/event_store_service/Cargo.toml
  services/event_store_service/build.rs
  services/event_store_service/migrations/20250809_000001_create_event_store_tables.sql
  services/event_store_service/proto/event_store.proto
  services/event_store_service/src/config.rs
  services/event_store_service/src/grpc.rs
  services/event_store_service/src/main.rs
  services/event_store_service/src/repository.rs
Due: rustfmt, taplo, markdownlint, buf-format, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

refactor: move event store proto to shared protos directory
  protos/services/event_store_service.proto
  services/event_store_service/build.rs
Due: rustfmt, buf-format, clippy-fix, cargo-check, clippy-check, check-merge-conflict, check-added-large-files, detect-secrets

docs: simplify learning context to session-focused architecture
  docs/tactical/contexts/learning/aggregates.md
  docs/tactical/contexts/learning/events.md
  docs/tactical/contexts/learning/infrastructure.md
  docs/tactical/contexts/learning/repositories.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: unify search endpoint and improve routing logic
  docs/tactical/contexts/vocabulary/api-schema.md
  docs/tactical/contexts/vocabulary/architecture.md
  docs/tactical/contexts/vocabulary/canvas.md
  docs/tactical/contexts/vocabulary/queries.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: unify user context authentication abstraction and simplify events
  docs/tactical/contexts/user/aggregates.md
  docs/tactical/contexts/user/api-schema.md
  docs/tactical/contexts/user/architecture.md
  docs/tactical/contexts/user/canvas.md
  docs/tactical/contexts/user/commands.md
  docs/tactical/contexts/user/events.md
  docs/tactical/contexts/user/infrastructure.md
  docs/tactical/contexts/user/queries.md
  docs/tactical/contexts/user/repositories.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: refactor learning algorithm documentation structure
  docs/tactical/contexts/learning-algorithm/aggregates.md
  docs/tactical/contexts/learning-algorithm/api-schema.md
  docs/tactical/contexts/learning-algorithm/architecture.md
  docs/tactical/contexts/learning-algorithm/commands.md
  docs/tactical/contexts/learning-algorithm/infrastructure.md
  docs/tactical/contexts/learning-algorithm/queries.md
  docs/tactical/contexts/learning-algorithm/repositories.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: reorganize progress context documentation structure
  docs/tactical/contexts/progress/aggregates.md
  docs/tactical/contexts/progress/api-schema.md
  docs/tactical/contexts/progress/architecture.md
  docs/tactical/contexts/progress/commands.md
  docs/tactical/contexts/progress/infrastructure.md
  docs/tactical/contexts/progress/queries.md
  docs/tactical/contexts/progress/repositories.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

refactor: consolidate ai integration context documentation
  docs/tactical/contexts/ai-integration/aggregates.md
  docs/tactical/contexts/ai-integration/api-schema.md
  docs/tactical/contexts/ai-integration/architecture.md
  docs/tactical/contexts/ai-integration/commands.md
  docs/tactical/contexts/ai-integration/infrastructure.md
  docs/tactical/contexts/ai-integration/queries.md
  docs/tactical/contexts/ai-integration/repositories.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: refactor integration documentation for event-driven architecture
  docs/tactical/integration/event-flows.md
  docs/tactical/integration/patterns.md
  docs/tactical/integration/saga-design.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update event store service architecture details
  docs/tactical/services/event-store-service.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: add progress context read model details to shared modules
  docs/tactical/shared/cross-cutting-concerns.md
  docs/tactical/shared/infrastructure.md
  docs/tactical/shared/kernel.md
  docs/tactical/shared/overview.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: fix broken documentation links across strategic docs
  docs/strategic/bounded-contexts.md
  docs/strategic/context-map.md
  docs/strategic/domain-classification.md
  docs/tactical/integration/saga-design.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: remove obsolete vocabulary projection service implementation status
  docs/guidelines/vocabulary-projection-service-implementation-status.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update development standards and remove obsolete guides
  docs/guidelines/development-standards.md
  docs/guidelines/next-steps.md
  docs/guidelines/pubsub-setup-guide.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

feat: add vocabulary service with basic structure
  Cargo.lock
  Cargo.toml
  docs/README.md
  docs/tactical/design-changes-log.md
  docs/tactical/progress-summary.md
  services/vocabulary_service/Cargo.toml
  services/vocabulary_service/Dockerfile
  services/vocabulary_service/migrations/20250802_000001_create_vocabulary_tables.sql
  services/vocabulary_service/src/config.rs
  services/vocabulary_service/src/lib.rs
  services/vocabulary_service/src/main.rs
  services/vocabulary_service/src/server.rs
Due: rustfmt, taplo, markdownlint, clippy-fix, cargo-check, clippy-check, hadolint, check-merge-conflict, check-added-large-files, detect-secrets

docs: update microservice count to reflect CQRS/ES architecture split
  docs/README.md
Due: markdownlint, check-merge-conflict, check-added-large-files, detect-secrets

chore: update redis dependency from 0.32.4 to 0.32.5
  Cargo.lock
  Cargo.toml
Due: taplo, check-merge-conflict, check-added-large-files, detect-secrets

refactor: reorganize vocabulary services into CQRS/ES architecture
  Makefile
  docker-compose.yml
  scripts/migrate-local.sh
  scripts/prepare-sqlx.sh
  scripts/reset-db.sh
  services/event_store_service/migrations/20250809_000001_create_event_store_tables.sql
  services/vocabulary_command_service/migrations/20250802_000001_create_vocabulary_lookup.sql
  services/vocabulary_command_service/migrations/20250810_000001_create_command_schema.sql
  services/vocabulary_projection_service/migrations/20250810_000001_create_projection_state.sql
  services/vocabulary_query_service/migrations/20250802_000001_create_read_models.sql
  services/vocabulary_query_service/migrations/20250810_000001_create_query_models.sql
Due: yamlfmt, shfmt, check-merge-conflict, check-added-large-files, detect-secrets
